<!-- <p>products works!</p>

  <div *ngFor="let prodotto of prodotti_man; let i = index">
    <h3>prodotto: {{prodotto.nome}}</h3>
    <p>
      <button (click)="decrementa_man(i)">-</button>
      {{prodotto.quantita}}
      <button (click)="incrementa_man(i)">+</button></p>
      <p>{{ prodotto.nome }} - Prezzo: {{ prodotto.prezzo | currency:'EUR':'symbol':'1.2-2' }}</p>
      <button (click)="aggiungiAlCarrello_man(i)">AGGIUNGI AL CARRELLO</button>
    </div> -->

    <div class="container-fluid" style="margin-top: 10%;">
      <div class="row">
        <div class="col-md-3">
          <div class="tab-container">
            <div class="tab d-flex flex-column">
              <button class="tablinks" onclick="openTab(event, 'tab1')">Uomo</button>
              <button class="tablinks" onclick="openTab(event, 'tab2')">Donna</button>
              <button class="tablinks" onclick="openTab(event, 'tab3')">Bambino</button>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div id="tab1" class="tabcontent">
            <!-- Parte Uomo -->
            <div class="Uomo">
              <div class="container-fluid">
                <div class="row">

                  <div class="container">
                    <div class="row">
                      <div *ngFor="let prodotto of prodotti_man; let i = index" class="col-md-4 border p-2" style="height:max-content;">
                        <h3 class="text-center">{{prodotto.nome}}</h3>
                        <div class="d-flex justify-content-center">
                          <img [src]="prodotto.foto" alt="prodotto.foto" width="75%" style="margin: 3%;" class="immagine">
                        </div>
                        <div class="container-fluid">
                          <div class="row">
                            <div class="d-flex justify-content-center">
                              <div class="col-md-4">
                                <button (click)="decrementa_man(i)" class="buttongriglia">-</button>
                              </div>
                              <div class="col-md-4">
                                <p class="text-center">{{prodotto.quantita}}</p>
                              </div>
                              <div class="col-md-4">
                                <button (click)="incrementa_man(i)" class="buttongriglia">+</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <p class="text-center">{{ prodotto.nome }} - Prezzo: {{ prodotto.prezzo | currency:'EUR':'symbol':'1.2-2' }}</p>
                        <div class="d-flex justify-content-center">
                          <button (click)="aggiungiAlCarrello_man(i)" class="buttongriglia">AGGIUNGI AL CARRELLO</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Fine Parte Uomo -->
            </div>
          </div>

          <div id="tab2" class="tabcontent">
            <!-- Parte Donna -->
            <div class="Donna">
              <div class="container-fluid">
                <div class="row">

                  <div class="container">
                    <div class="row">
                      <div *ngFor="let prodotto of prodotti_woman; let i = index" class="col-md-4 border p-2" style="height:max-content;">
                        <h3 class="text-center">{{prodotto.nome}}</h3>
                        <div class="d-flex justify-content-center">
                          <img [src]="prodotto.foto" alt="prodotto.foto" width="75%" style="margin: 3%;" class="immagine">
                        </div>
                        <div class="container-fluid">
                          <div class="row">
                            <div class="d-flex justify-content-center">
                              <div class="col-md-4">
                                <button (click)="decrementa_woman(i)" class="buttongriglia">-</button>
                              </div>
                              <div class="col-md-4">
                                <p class="text-center">{{prodotto.quantita}}</p>
                              </div>
                              <div class="col-md-4">
                                <button (click)="incrementa_woman(i)" class="buttongriglia">+</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <p class="text-center">{{ prodotto.nome }} - Prezzo: {{ prodotto.prezzo | currency:'EUR':'symbol':'1.2-2' }}</p>
                        <div class="d-flex justify-content-center">
                          <button (click)="aggiungiAlCarrello_woman(i)" class="buttongriglia">AGGIUNGI AL CARRELLO</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Fine Parte Donna -->
            </div>
          </div>

          <div id="tab3" class="tabcontent">
            <!-- Parte Bambino -->
            <div class="Donna">
              <div class="container-fluid">
                <div class="row">

                  <div class="container">
                    <div class="row">
                      <div *ngFor="let prodotto of prodotti_children; let i = index" class="col-md-4 border p-2" style="height:max-content;">
                        <h3 class="text-center">{{prodotto.nome}}</h3>
                        <div class="d-flex justify-content-center">
                          <img [src]="prodotto.foto" alt="prodotto.foto" width="75%" style="margin: 3%;" class="immagine">
                        </div>
                        <div class="container-fluid">
                          <div class="row">
                            <div class="d-flex justify-content-center">
                              <div class="col-md-4">
                                <button (click)="decrementa_children(i)" class="buttongriglia">-</button>
                              </div>
                              <div class="col-md-4">
                                <p class="text-center">{{prodotto.quantita}}</p>
                              </div>
                              <div class="col-md-4">
                                <button (click)="incrementa_children(i)" class="buttongriglia">+</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <p class="text-center">{{ prodotto.nome }} - Prezzo: {{ prodotto.prezzo | currency:'EUR':'symbol':'1.2-2' }}</p>
                        <div class="d-flex justify-content-center">
                          <button (click)="aggiungiAlCarrello_children(i)" class="buttongriglia">AGGIUNGI AL CARRELLO</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Fine Parte Donna -->
            </div>
            <!-- Fine Parte Bambino -->
          </div>
        </div>
      </div>
    </div>
