<!-- <footer class="mt-5">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-3">
        <h5>PRODOTTI</h5>
        <ul class="text-center">
          <li> <a class="text-light" href="">Offerte</a></li>
          <li> <a class="text-light" href="">Nuovi prodotti</a></li>
          <li> <a class="text-light" href="">link</a></li>
        </ul>

      </div>
      <div class="col-md-3">
        <ul class="linkfooter text-center">
          <h5>LA NOSTRA AZIENDA</h5>
          <li><a class="text-light" href="#">Link</a></li>
          <li><a class="text-light" href="#">Link</a></li>
          <li><a class="text-light" href="#">Link</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>SEGUICI</h5>
        <ul class="text-center">
          <li><a class="text-light" href="#">Link</a></li>
          <li><a class="text-light" href="#">Link</a></li>
          <li><a class="text-light" href="#">Link</a></li>
        </ul>
      </div>
      <div class="col-md-3">
          <h5>NEWSLETTER</h5>
          <p>Iscriviti alla nostra newsletter</p>
          <app-newsletter></app-newsletter>
      </div>
    </div>
    <hr class="hr-foot">
    <p>&copy; 2023 Shop Clothing Tutti i diritti riservati.</p>
  </div>

</footer> -->


<footer class="mt-5">
  <div class="container-fluid mt-1">
    <div class="row">
      <div class="col-md-3">
        <h5>PRODOTTI</h5>
          <ul>
            <li><a class="text-light" routerLink="/prodotti">Offerte</a></li>
            <li><a class="text-light" routerLink="/prodotti">Prodotti</a></li>
          </ul>
      </div>
      <div class="col-md-3">
        <h5>LA NOSTRA AZIENDA</h5>
        <ul>
          <li><a class="text-light" routerLink="/">Home</a></li>
          <li><a class="text-light" routerLink="/contatti">Chi siamo</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>SEGUICI</h5>
        <ul>
          <li><a href="https://Facebook.com" class="fa fa-facebook" target="_blank"> </a></li>
          <li><a href="https://instagram.com" class="fa fa-instagram" target="_blank"> </a></li>

        </ul>
      </div>
      <div class="col-md-3">
        <h5>NEWSLETTER</h5>
        <ul>
          <li><p>Iscriviti alla NewsLetter</p></li>
          <li><app-newsletter></app-newsletter></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mt-2">
    <hr class="hr-foot">
  </div>
  <div class="mt-2">
    <p>&copy; 2023 Shop Clothing Tutti i diritti riservati.</p>
    <p><a href="assets/pdf/Documentazione sito web Clothing.pdf" class="text-light">Scarica la Documentazione</a></p>
  </div>
</footer>
