<footer class="mt-5">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-3">
        <h5>PRODOTTI</h5>
        <ul class="text-center">
          <li> <a class="text-light" href="">Offerte</a></li>
          <li> <a class="text-light" href="">Nuovi prodotti</a></li>
          <li> <a class="text-light" href="">link</a></li>
        </ul>

      </div>
      <div class="col-md-3">
        <ul class="linkfooter text-center">
          <h5>LA NOSTRA AZIENDA</h5>
          <li><a class="text-light" href="#">Link</a></li>
          <li><a class="text-light" href="#">Link</a></li>
          <li><a class="text-light" href="#">Link</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>SEGUICI</h5>
        <ul class="text-center">
          <li><a class="text-light" href="#">Link</a></li>
          <li><a class="text-light" href="#">Link</a></li>
          <li><a class="text-light" href="#">Link</a></li>
        </ul>
      </div>
      <div class="col-md-3">
          <h5>NEWSLETTER</h5>
          <p>Iscriviti alla nostra newsletter</p>
          <app-newsletter></app-newsletter>
      </div>
    </div>
    <hr class="hr-foot">
    <p>&copy; 2023 Shop Clothing Tutti i diritti riservati.</p>
  </div>

</footer>
