footer{
    background-color: #101010;
    color: white;
    padding-top: 30px;
}

.linkfooter{
    list-style: none;
}

h5{
    margin-left: 40px;
}

ul {
  list-style-type: none;
  text-decoration: none;
}
