  <div style="margin: 50px;">
    <!-- SEARCH -->
    <div class="alignSearch" style="width: 135%">
      <form class="d-flex" style="width: 90%" onsubmit="search(event)">
        <input
        id="searchInput"
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        oninput="filterList()"
        />
      </form>
    </div>
    <ul id="itemList" class="styleItemList">
      <!-- Lista di 10 elementi (sostituiscili con i tuoi dati reali) -->
      <li class="styleItemListElement"> <a href="#" class="styleElementA">lente Felpa</a>  </li>
      <li class="styleItemListElement"> <a href="#" class="styleElementA">Scarpe</a> </li>
      <li class="styleItemListElement"> <a href="#" class="styleElementA">Tuta</a> </li>
      <li class="styleItemListElement"> <a href="#" class="styleElementA">Giacca</a> </li>
      <li class="styleItemListElement"><a href="#" class="styleElementA">Sciarpa</a> </li>
      <li class="styleItemListElement"><a href="#" class="styleElementA">Cappelli</a> </li>
      <li class="styleItemListElement"><a href="#" class="styleElementA">Accessori</a> </li>
      <li class="styleItemListElement"><a href="#" class="styleElementA">Mutande</a> </li>
      <li class="styleItemListElement"><a href="#" class="styleElementA">Calze</a> </li>
      <li class="styleItemListElement"><a href="#" class="styleElementA">Camicie</a> </li>
    </ul>
  </div>
