<div class="text-center">
  <h1>Chi Siamo</h1>
  <hr>
  <h2 class="mt-2">Attraverso la moda.</h2>
  <h2>Aiutiamo le persone ad essere se stesse.</h2>
</div>

<div class="container-fluid mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6 d-flex justify-content-center" width="100%">
      <p class="fs-5">
        Clothing, e-commerce fondato da Frank Smith, rappresenta oggi un punto di riferimento per tutti gli amanti della moda con un' ampia selezione di abbigliamenti per uomini, donne e bambini delle migliori marche. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa eos distinctio possimus ipsam ullam ea, assumenda inventore dolorem optio velit, placeat est sint soluta adipisci accusantium dignissimos odit qui? Dignissimos.
        Nemo labore voluptatem cumque unde quos expedita odio qui ipsum voluptates consequatur praesentium, adipisci odit a necessitatibus aut laboriosam molestiae repellendus temporibus ex est. Perspiciatis sed at facere quam natus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid eius, rerum aperiam ipsum vitae voluptatibus aut placeat quis illo eos ducimus distinctio ipsa! Voluptas expedita nulla minus eum iusto aspernatur!
        Error aliquid incidunt, nemo accusamus facilis dolorum cum dolores ex harum nam qui repellendus provident maxime, quasi facere laborum distinctio totam aspernatur et sed, doloremque pariatur cumque amet voluptatibus. Dolorem.
      </p>
    </div>
    <div class="col-md-6 d-flex justify-content-center" width="100%">
      <img src="assets/img/sg-clothing.jpeg" alt="sg-clothing" width="100%">
    </div>
  </div>
</div>

<hr>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d100457.72100227911!2d13.258009352959661!3d38.10986650076417!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x1319ef6e1bfaf9bf%3A0xe80f868819587c6c!2sEuroform%2C%20Via%20Pindemonte%2C%20Palermo%2C%20PA!3m2!1d38.1097482!2d13.3403379!5e0!3m2!1sit!2sit!4v1700086973157!5m2!1sit!2sit" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col-md-6 text-center mt-5">
      <h5 class="fs-3">Passa in azienda</h5>
      <h5>Orari di apertura: </h5>
      <p>Lunedì-Venerdì 15:00-21:00</p>
      <h5 class="fs-3">Dove trovarci: </h5>
      <p>Via Pindemonte,5</p>
    </div>
  </div>
</div>
