<!-- Header -->
<header>
  <!-- <app-navbar></app-navbar> -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

      <!-- SX -->
      <!-- Logo -->
      <a class="navbar-brand" href="#">Logo</a>
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- SX -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Pagine -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/prodotti">Prodotti</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contatti">Contatti</a>
          </li>
        </ul>

        <!-- DX -->
        <div class="dx">
          <!-- Ricerca -->
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>

          <!-- Carrello -->
          <a class="nav-link ml-2" href="#" data-bs-toggle="modal" data-bs-target="#Modal">
            <img src="assets/img/shopping-cart.png" alt="Carrello" class="cart">
            <span class='ms-2'>{{count}}</span>
          </a>

          <!-- Modal -->
          <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="ModalLabel">Carrello</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <!-- Aggiorna la modale nella navbar -->
                <div class="modal-body">
                  <ul>
                    <li *ngFor="let item of carrello; let i = index">
                      {{ item.nome }} - Quantità: {{ item.quantita }} - Prezzo: {{ item.prezzo * item.quantita | currency:'EUR':'symbol':'1.2-2' }}
                      <button type="button" class="btn btn-danger btn-sm" (click)="rimuoviDalCarrello(i)">Rimuovi</button>
                    </li>
                  </ul>
                  <p>Totale prodotti nel carrello: {{ count }}</p>
                  <p>Somma dei prezzi: {{ calcolaSommaPrezzi() | currency:'EUR':'symbol':'1.2-2' }}</p>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                  <button type="button" class="btn btn-primary" (click)="confermaAcquisto()">Procedi all'acquisto</button>
                </div>

              </div>
            </div>
          </div>

          <!-- <span class='ms-2'>{{count}}</span> -->

        </div>
      </div>
    </div>
  </nav>

</header>

<main class="container-fluid">

  <ng-container *ngIf="!isRouteWithProducts; else productsOutlet">
    <router-outlet></router-outlet>
  </ng-container>
  <ng-template #productsOutlet>
    <app-products (aggiungiCarrello)="aggiungiAlCarrello($event)"></app-products>
  </ng-template>


</main>

<!-- Footer -->
<footer class="bg-dark text-light">
  <app-footer></app-footer>
</footer>
