.margine-spedizioni {
  margin-left: 150px;
}

@media (max-width: 1200px) {
  .margine-spedizioni {
    margin-left: 90px;
  }
}

@media (max-width: 991px) {
  .margine-spedizioni {
    margin-left: 40px;
  }
}

@media (max-width: 767px) {
  .servizi {
    display: none !important;
  }
}

@media (max-width: 576px) {
  .servizi {
    display: none !important;
  }
}
